# Telegram API bilgileri
# https://my.telegram.org adresinden alabilirsiniz
API_ID=your_api_id
API_HASH=your_api_hash
PHONE_NUMBER=your_phone_number
SECRET_KEY=your_secret_key
ADMIN_PASSWORD=admin123

# Email Configuration (Optional)
EMAIL_NOTIFICATIONS=false
EMAIL_SERVER=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_email_password
EMAIL_FROM=your_email@gmail.com
EMAIL_TO=recipient1@email.com,recipient2@email.com
HIGH_PRIORITY_CATEGORIES=CATEGORY1,CATEGORY2